* ,*:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    background: #344449;
    color: #fff;
    text-shadow: none;
}

html {
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: #f0f3f4;
    touch-action: none;
}

body {
    height: 100%;
    width: 100%;
    font-family: "Source Sans Pro","Hiragino Sans GB","Microsoft Yahei",Helvetica,Arial,Sans-serif,monospace;
    font-size: 18px;
    /* -webkit-font-smoothing: antialiased; */
    /* line-height: 1.42857143; */
    color: white;
    background-color: transparent;
}

#alllayout{
    position: relative;
    width: 100%;
    height: 100%;
}

#alllayout .content-box{
    margin-bottom: 1%;
}

#header {
    height: 8%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
}

#header-div {
    height: 60%;
    width: 40%;
    position: absolute;
    left: 30%;top: 20%;
}

#header-ico {
    height: 100%;
    width: 20%;
    background: url('//s1.music.126.net/style/favicon.ico?v20180823') no-repeat center;
    float: left;
}

#header span{
    font-size: 100%;
    height: 100%;
    width: 70%;
    margin-left: 3%;
    display: block;
    float: left;
}

#content-div{
    position: absolute;
    top: 8vh;
}

.content-box {
    width: 90vw;
    min-height: 5vh;
    color: #a6a8b1;
    background-color: #3a3f51;
}

#update{
    width: 100%;
    height: 4%;
    color: rgb(24, 23, 23);
    background-color: rgba(177, 169, 169, 0.829);
    position: absolute;
    top: 96%;
    text-align: center;
}